<section id="tour_data" data-channel_id="11756" data-product_type="4" data-breakdown_symbol="&amp;#8364;" class="tour-main">
    <div class="row">
        <!--新闻详细start-->
        <div class="columns small-12 medium-7 large-8 content-column">
            <h1>Elftime Stories Under the Northern Lights</h1>
            <p>Don't you miss the times of great storytelling? Join the Elves in their favorite evening activity - reading Christmas stories!</p>
            <!-- TABS START -->
            <div class="tabs accordyTabs" style="background-color: #f7f7f4">
                <!-- MAIN INFORMATION TAB START -->
                <div class="accordyNavbar flat"><a href="main" class="activeTab" style="">Main</a></div>
                <div class="accordyTabWrap" style="height: 734px;">
                    <section class="main activeTab" data-accordytarget="main" data-accordytabname="Main" style="opacity: 1;"><a href="main" class="responsive-link">Main</a>
                        <div class="accordyContent" style="height: auto;">
                            <div class="content">
                                <h3>Highlights</h3>
                                <div>
                                    Journey through the Arctic Forest for story time by the cozy fire. Take a break from your phone and devices, and let your mind rest as you snuggle under a warm blanket with a snack and listen to the Elf tale of your own choosing. And who knows - as the fire grows warmer and the Northern Lights begin their dance, you may just come to realize that all those stories you loved as a child are not just fairy tales after all. </div>
                                <h3>Included</h3>
                                <div class="ul-check">
                                    <ul>
                                        <li>Welcoming by the Elf</li>
                                        <br>
                                        <li>Fairy tale walk in the snowy forest </li>
                                        <li>Hot drinks by the open log fire </li>
                                        <li>Making sausages on the fireplace </li>
                                        <li>A shortened Christmas story of your own choosing (5 different stories available) </li>
                                        <li>Return transfer </li>
                                        <li>Opportunity to take as many pictures with own camera as desired </li>
                                        <li>Opportunity to provide advance information about your nearest and dearest to make the experience even more special</li>
                                    </ul><strong>Price:</strong>
                                    <br>
                                    <ul>
                                        <li>89€ / adult; 69 € / child (2-12 years old); free for children under 2 years old</li>
                                    </ul>
                                </div>
                                <h3>Extras/highlights</h3>
                                <p>If you would like to have a private experience or request a time slot that better suits your itinerary, please contact us by email: info@prosanta.fi</p>
                            </div>
                        </div>
                    </section>
                </div>
                <!-- MAIN INFORMATION TAB END -->
            </div>
            <!-- TABS END -->
        </div>
        <!--新闻详细end-->
        <!--侧边栏start-->
        {include file="Public/side"}
        <!--侧边栏end-->
    </div>
</section>
<script>
window.tour_details = {
    channel_id: 11756,
    documents: [],
    from_price: "179.00",
    maxBookingSize: 20,
    maxDuration: null,
    minBookingSize: 1,
    minDuration: null,
    new_booking: {
        people_selection: {
            rate: [{
                agecat: "a",
                agerange_max: "",
                agerange_min: "12",
                from_price: "179.00",
                from_price_display: "&#8364;179",
                label_1: "# Adults",
                label_2: "Age > 12 years old",
                maximum: 20,
                minimum: 1,
                rate_id: "r1",
            }, {
                agecat: "c",
                agerange_max: "12",
                agerange_min: "2",
                from_price: "139.00",
                from_price_display: "&#8364;139",
                label_1: "# Children (Age 2-12)",
                label_2: "Age 2-12 years old",
                maximum: 20,
                minimum: 1,
                rate_id: "r2",
            }, {
                agecat: "i",
                agerange_max: "2",
                agerange_min: "0",
                from_price: "0.00",
                from_price_display: "&#8364;0",
                label_1: "# Infants (Age 0-2)",
                label_2: "Age 0-2",
                maximum: 20,
                minimum: 1,
                rate_id: "r3",
            }]
        }
    },
    product_type: 4,
    thumb: "https://792327e631d328999a2c-23ff390096145d62077159b787d9fbd9.ssl.cf1.rackcdn.com/8/1/thumbnail.jpg",
    totalPeople: 0,
    tour_id: 8,
    tour_name: "Dream of Joulukka - Weekly Departure",
    tour_url: "http://santaparkarcticworld.com/tour/dream-of-joulukka-weekly-departure_8",
    transfer_direction: -1
}
</script>
<script sync src='__HOME__/js/calendar.js'></script>