<div id="footer">
    <div class="row">
        <div class="columns small-12 medium-12 large-9 column-links">
            <nav class="footer-nav">
                <ul class="nav">
                    <li class="nav-first">
                        <a href="https://santaparkarcticworld.com/who-we-are" target="_blank">
                                        Who We Are                </a>
                    </li>
                    <li class="">
                        <a href="https://santaparkarcticworld.com/contact">
                                        Contact Us                </a>
                    </li>
                    <li class="">
                        <a href="https://santaparkarcticworld.com/terms-of-service">
                                        Terms of Service                </a>
                    </li>
                    <li class="">
                        <a href="https://santaparkarcticworld.com/privacy-policy">
                                        Privacy Policy                </a>
                    </li>
                    <li class="">
                        <a href="https://santaparkarcticworld.com/careers">
                                        Careers                </a>
                    </li>
                    <li class="">
                        <a href="https://santaparkarcticworld.com/sitemap">
                                        Sitemap                </a>
                    </li>
                    <li class="">
                        <a href="https://santaparkarcticworld.com/news-blog">
                                        News                </a>
                    </li>
                </ul>
            </nav>
            <p>&copy; SantaPark Arctic World, Arctic Circle, Rovaniemi, Finland
                <br /> ☏+358 600 301 203 (1.50 &euro;/min+local charge) | ✉ info(a)santapark.com</p>
            <p style="font-size:10px">santaparkarcticworld.com is using cookies to ensure the best service and use of this web site. The cookies will be mainly used for web traffic measurement and optimisation of the services.</p>
        </div>
        <div class="columns small-12 medium-12 large-3 column-taglines">
            <div class="tripeasi-social-links">
                <ul class="social-links">
                    <li><a target='_blank' href=http://www.facebook.com/SantaParkLapland/><span><i class='icon-facebook-circle'></i></span></a>
                    </li>
                    <li><a target='_blank' href=https://twitter.com/SantaparkCave><span><i class='icon-twitter-circle'></i></span></a></li>
                    <li><a target='_blank' href=http://www.youtube.com/channel/UCHiRtS_4fKUkPTMT_NWaseQ><span><i class='icon-youtube-with-circle'></i></span></a></li>
                    <li>
                        <a target='_blank' href="https://www.tripadvisor.co.uk/Attraction_Review-g189922-d202600-Reviews-SantaPark-Rovaniemi_Lapland.html"><span><i class="icon-trip-advisor-circle"></i></span></a>
                    </li>
                </ul>
            </div>
            <p class="senshi-tagline">Website by <a href="https://senshi.digital" title="senshi digital">Senshi Digital</a></p>
        </div>
    </div>
</div>