<section id="secondary-content">
    <div class="row">
        <script type="text/javascript">
        var tour_details = {
            "tour_id": 91,
            "product_type": 4,
            "transfer_direction": -1,
            "channel_id": 11756,
            "tour_name": "Elftime Stories Under the Northern Lights",
            "tour_url": "http:\/\/santaparkarcticworld.com\/tour\/elf-bedtime-stories-under-the-northern-lights_91",
            "from_price": "89.00",
            "documents": [],
            "minBookingSize": 1,
            "maxBookingSize": 20,
            "minDuration": null,
            "maxDuration": null,
            "new_booking": {
                "people_selection": {
                    "rate": [{
                            "label_1": "# Adults",
                            "label_2": "Age > 12 years old",
                            "minimum": 1,
                            "maximum": 20,
                            "rate_id": "r1",
                            "agecat": "a",
                            "agerange_min": "12",
                            "agerange_max": "",
                            "from_price": "89.00",
                            "from_price_display": "&#8364;89"
                        },
                        {
                            "label_1": "# Children (Age 2-12)",
                            "label_2": "Age 2-12 years old",
                            "minimum": 1,
                            "maximum": 20,
                            "rate_id": "r2",
                            "agecat": "c",
                            "agerange_min": "2",
                            "agerange_max": "12",
                            "from_price": "69.00",
                            "from_price_display": "&#8364;69"
                        },
                        {
                            "label_1": "# Infants (Age 0-2)",
                            "label_2": "Age 0-2",
                            "minimum": 1,
                            "maximum": 20,
                            "rate_id": "r3",
                            "agecat": "i",
                            "agerange_min": "0",
                            "agerange_max": "2",
                            "from_price": "0.00",
                            "from_price_display": "&#8364;0"
                        },
                    ]
                }
            },
            "thumb": "https:\/\/792327e631d328999a2c-23ff390096145d62077159b787d9fbd9.ssl.cf1.rackcdn.com\/91\/1\/thumbnail.jpg"
        }
        </script>
        <div class="columns small-12 medium-6 large-6 tour-availability-column">
            <h3>People &amp; Extras</h3>
            <div class="desktop">
                <div id="tour-bookings">
                    <div class="tour-availability-form">
                        <div id="nopriceresults" style="display:none"></div>
                        <div class="top-price">
                            From <span class="from_price" data-price="89.00" data-currency="EUR" data-round="false" title="89.00 "><i>€</i>89.00</span>
                            <!-- Have a question? <span><a href="tel:CONTACT_NUM">CONTACT_NUM_FORMATTED</a></span> -->
                        </div>
                        <!--/section-->
                        <div class="input-grid">
                            <div class="cell right-break">
                                <label>Date</label>
                                <p>Select on calendar</p>
                            </div>
                            <div class="cell">
                                <label># Adults</label>
                                <div class="js_incrementor incrementor">
                                    <span class="increase control"></span>
                                    <input readonly="" class="booking-counter" data-rate-id="r1" data-minimum-value="1" data-maximum-value="20" type="text" value="0">
                                    <span class="decrease control"></span>
                                </div>
                            </div>
                            <div class="break"></div>
                            <div class="cell">
                                <label># Children (Age 2-12)</label>
                                <div class="js_incrementor incrementor">
                                    <span class="increase control"></span>
                                    <input readonly="" class="booking-counter" data-rate-id="r2" data-minimum-value="1" data-maximum-value="20" type="text" value="0">
                                    <span class="decrease control"></span>
                                </div>
                            </div>
                            <div class="cell">
                                <label># Infants (Age 0-2)</label>
                                <div class="js_incrementor incrementor">
                                    <span class="increase control"></span>
                                    <input readonly="" class="booking-counter" data-rate-id="r3" data-minimum-value="1" data-maximum-value="20" type="text" value="0">
                                    <span class="decrease control"></span>
                                </div>
                            </div>
                        </div>
                        <div class="sidebar-header people" style="display:none;">
                            How Many People?
                        </div>
                        <div class="rates-section-wrapper" style="display:none;">
                            <div class="rates section" style="">
                                <div class="item ">
                                    <label># Adults (Age &gt; 12 years old)</label>
                                    <div class="custom-select">
                                        <select id="r1" class="rateSelect">
                                            <option value="0">0</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                            <option value="10">10</option>
                                            <option value="11">11</option>
                                            <option value="12">12</option>
                                            <option value="13">13</option>
                                            <option value="14">14</option>
                                            <option value="15">15</option>
                                            <option value="16">16</option>
                                            <option value="17">17</option>
                                            <option value="18">18</option>
                                            <option value="19">19</option>
                                            <option value="20">20</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="item ">
                                    <label># Children (Age 2-12) (Age 2-12 years old)</label>
                                    <div class="custom-select">
                                        <select id="r2" class="rateSelect">
                                            <option value="0">0</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                            <option value="10">10</option>
                                            <option value="11">11</option>
                                            <option value="12">12</option>
                                            <option value="13">13</option>
                                            <option value="14">14</option>
                                            <option value="15">15</option>
                                            <option value="16">16</option>
                                            <option value="17">17</option>
                                            <option value="18">18</option>
                                            <option value="19">19</option>
                                            <option value="20">20</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="item ">
                                    <label># Infants (Age 0-2) (Age 0-2)</label>
                                    <div class="custom-select">
                                        <select id="r3" class="rateSelect">
                                            <option value="0">0</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                            <option value="10">10</option>
                                            <option value="11">11</option>
                                            <option value="12">12</option>
                                            <option value="13">13</option>
                                            <option value="14">14</option>
                                            <option value="15">15</option>
                                            <option value="16">16</option>
                                            <option value="17">17</option>
                                            <option value="18">18</option>
                                            <option value="19">19</option>
                                            <option value="20">20</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <!--/rates-->
                        </div>
                        <div id="timeWrap" class="section cell" style="display: none;">
                            <div class="sidebar-header times">
                                Select Time </div>
                            <div class="section-wrap">
                                <div id="pricetimes"></div>
                                <div id="priceoptions">
                                    <label></label>
                                </div>
                            </div>
                        </div>
                        <!--/timeWrap-->
                        <div class="section cell pickups" style="display:none">
                            <div class="sidebar-header pickup">
                                Pickup Location </div>
                            <div class="section-wrap">
                                <div id="pickerror" class="message error" style="display: none;">
                                    You have not entered all of the required information. Please select your desired pickup, or choose one of the other options on the list below </div>
                                <br>
                                <label>
                                    <div class="fake-radio active"></div>
                                    <input type="radio" name="pickup_choice" value="chosen" checked="checked"> Select a pickup location</label>
                                <select data-placeholder="Select pick up points" style="width:100%" name="pickup_points" id="pickup_points" class="select2 select2-hidden-accessible" tabindex="-1" aria-hidden="true">
                                    <option value=""></option>
                                </select><span class="select2 select2-container select2-container--default" dir="ltr" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-pickup_points-container"><span class="select2-selection__rendered" id="select2-pickup_points-container"><span class="select2-selection__placeholder">Select pick up points</span></span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span>
                                </span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                                <label>
                                    <div class="fake-radio"></div>
                                    <input type="radio" name="pickup_choice" value="unlisted"> I will make my own way to main departure point</label>
                                <div class="radioinfo" id="pickup_unlisted" style="display: none;">
                                    <p>I will make my way to the central departure point listed on my voucher (and the Getting There section of the website). </p>
                                    <p>If you have questions or are unsure of the location, please contact us after booking to arrange pickup. We will send you full contact details for the local office once you have booked.</p>
                                </div>
                                <label>
                                    <div class="fake-radio"></div>
                                    <input type="radio" name="pickup_choice" value="notbooked"> I haven't booked a hotel yet</label>
                                <div class="radioinfo" id="pickup_notbooked" style="display: none;">
                                    <p>Once you have booked your hotel, please contact us to arrange pickup. We will send you full contact details for the local office once you have booked.</p>
                                </div>
                            </div>
                        </div>
                        <!--/pickups-->
                        <div class="section cell durationBox" style="display:none;">
                            Duration <span class="duration_text"></span>
                        </div>
                        <div class="section cell freetext" style="display:none">
                        </div>
                        <!--/freetext pickups-->
                        <div class="sidebar-header options" id="optionsHeader" style="display:none">
                            Optional Extras </div>
                        <div id="options-list" class="section cell" style="display:none;">
                            <h2>Options selected:</h2>
                        </div>
                        <!--/options-list-->
                        <div id="optionsDrop" class="section cell" style="display: none;">
                            <a data-toggle="dropdown" type="text" class="tour_options">Optional extras<span></span></a>
                            <div class="dropwrap">
                            </div>
                            <!--/dropwrap-->
                        </div>
                        <!--/options-->
                    </div>
                    <!-- end tour availability form -->
                    <div id="output_json"></div>
                    <div class="cartloading">
                        <div class="loader"></div>
                    </div>
                </div>
                <!--/sidebar-->
            </div>
        </div>
        <div class="columns small-12 medium-6 large-3 tour-right-sidebar">
            <div id="priceresults">
                <div class="sidebar-header breakdownHeader" id="breakdownHeader">
                    <h3>Details</h3>
                </div>
                <div id="add_to_cart">
                    <div id="full-breakdown">
                        <div class="breakdown-item" data-id="title" style="display: block;"><span>Title</span>
                            <div>Elftime Stories Under the Northern Lights</div>
                        </div>
                        <div class="breakdown-item" data-id="start-date" style="display: block;"><span>Start Date</span>
                            <div>Nov 30th 2018</div>
                        </div>
                        <div class="breakdown-item" data-id="end-date"><span>End Date</span>
                            <div></div>
                        </div>
                        <div class="breakdown-item" data-id="nights"><span>Nights</span>
                            <div></div>
                        </div>
                        <div class="breakdown-item" data-id="time"><span>Time</span>
                            <div></div>
                        </div>
                        <div class="breakdown-item" data-id="pickup"><span>Pickup</span>
                            <div></div>
                        </div>
                        <div class="breakdown-item" data-id="pricing"><span>Pricing</span>
                            <div></div>
                        </div>
                        <div class="breakdown-item" data-id="extras"><span>Extras</span>
                            <div></div>
                        </div>
                    </div>
                    <form class="cart" method="post" id="add_cart_form" action="https://santaparkarcticworld.com/addtocart">
                        <div id="leadPrice" class="duration" itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
                            <p class="price"><strong>Total</strong> <span data-round="false" itemprop="price" data-currency="" data-price="" title=" "><i>€</i>0.00</span></p>
                        </div>
                        <input type="hidden" name="add_to_cart_json" id="add_to_cart_json" value="">
                        <input type="hidden" name="ajax" value="ajax">
                        <button type="submit" name="add_cart_btn" id="add_cart_btn" class="button disabled">Book Now</button>
                    </form>
                </div>
            </div>
            <!--/priceresults-->
        </div>
    </div>
</section>