{extend name="Base/common"} {block name='primary'}
<section id="primary-content">
    <div class="row">
        <div class="columns small-12 medium-12 larege-12">
            <p>&nbsp;</p>
            <p>Are you ready for an adventure of a lifetime? Let us help you explore Lapland in all seasons - in the darkness of the polar night, under the northern lights, in the middle of vibrant autumn colours or in the endless light of the midnight sun.</p>
        </div>
    </div>
    <div class="row">
        <div class="columns small-12 medium-8 large-8 left-column"></div>
        <div class="columns small-12 medium-4 large-4">
            <p>+358 600 301 203 (1,50e/min + npm)</p>
            <p>info@santapark.com</p>
        </div>
    </div>
</section>
{/block} {block name="body"}
<div class='detail' style='background-color: #f7f7f4'>
    {include file='Public/current'}
    <section id="tour_data" data-channel_id="11756" data-product_type="4" data-breakdown_symbol="&amp;#8364;" class="tour-main">
        <div class="row">
            <!--新闻详细start-->
            <div class="columns small-12 medium-7 large-8 content-column">
                <h1>Elftime Stories Under the Northern Lights</h1>
                <p>Don't you miss the times of great storytelling? Join the Elves in their favorite evening activity - reading Christmas stories!</p>
                <!-- TABS START -->
                <div class="tabs accordyTabs" style="background-color: #f7f7f4">
                    <!-- MAIN INFORMATION TAB START -->
                    <div class="accordyNavbar flat"><a href="main" class="activeTab" style="">Main</a></div>
                    <div class="accordyTabWrap" style="height: 734px;">
                        <section class="main activeTab" data-accordytarget="main" data-accordytabname="Main" style="opacity: 1;"><a href="main" class="responsive-link">Main</a>
                            <div class="accordyContent" style="height: auto;">
                                <div class="content">
                                    <h3>Highlights</h3>
                                    <div>
                                        Journey through the Arctic Forest for story time by the cozy fire. Take a break from your phone and devices, and let your mind rest as you snuggle under a warm blanket with a snack and listen to the Elf tale of your own choosing. And who knows - as the fire grows warmer and the Northern Lights begin their dance, you may just come to realize that all those stories you loved as a child are not just fairy tales after all. </div>
                                    <h3>Included</h3>
                                    <div class="ul-check">
                                        <ul>
                                            <li>Welcoming by the Elf</li>
                                            <br>
                                            <li>Fairy tale walk in the snowy forest </li>
                                            <li>Hot drinks by the open log fire </li>
                                            <li>Making sausages on the fireplace </li>
                                            <li>A shortened Christmas story of your own choosing (5 different stories available) </li>
                                            <li>Return transfer </li>
                                            <li>Opportunity to take as many pictures with own camera as desired </li>
                                            <li>Opportunity to provide advance information about your nearest and dearest to make the experience even more special</li>
                                        </ul><strong>Price:</strong>
                                        <br>
                                        <ul>
                                            <li>89€ / adult; 69 € / child (2-12 years old); free for children under 2 years old</li>
                                        </ul>
                                    </div>
                                    <h3>Extras/highlights</h3>
                                    <p>If you would like to have a private experience or request a time slot that better suits your itinerary, please contact us by email: info@prosanta.fi</p>
                                </div>
                            </div>
                        </section>
                    </div>
                    <!-- MAIN INFORMATION TAB END -->
                </div>
                <!-- TABS END -->
            </div>
            <!--新闻详细end-->
            <!--侧边栏start-->
            {include file="Public/side"}
            <!--侧边栏end-->
        </div>
    </section>
    <script type="text/javascript">
    var transString = {
        test: "Category",
        stillCheck: "Still checking availability, please wait",
        checkAvail: "Checking availability",
        errorData: "Data error",
        errorMaxBook: "Sorry, the maximum booking size for this item is",
        errorMinBook: "Sorry, the minimum booking size is",
        errorMinBookDate: "Sorry, the minimum booking size for this date is",
        errorAvail: "Sorry no availability, please try a different date or quantity",
        time: "Time",
        selection: "Selection",
        selectTime: "Select time",
        selectZone: "Select zone",
        selectPick: "Select pick up location",
        viewZone: "View Zone drop-off map",
        between: "between",
        nights: "nights",
        days: "days",
        freeTextLabel: "Please let us know where you would like to request a pickup from - or if you are making your own way - in the box below.",
        freeTextInput: "E.g Hotel name and address",
        noInfo: "No further information available",
        optionPer: "per",
        optionMore: "More details",
        optionAdd: "Add",
        optionQuant: "Quantity",
        optionRemove: "Remove",
        optionAdded: "Option added",
        optionSelQuant: "Please select a quantity",
        pickSuccess: "Pickup location selected",
        errorPick: "Please provide your pick up information",
        errorCart: "To continue booking, please make sure you have selected a valid date, time and pickup location (if relevant)",
        offer1: "Date specific special price",
        offer2: "Late booking discount",
        offer3: "Early booking discount",
        offer4: "Duration specific discount",
        offerSpecial: "Special Offer",
        offerPer: "per person",
        errorDate: "Please choose a date first",
        TEXT_PREV_YEAR: "Previous year",
        TEXT_PREV_MONTH: "Previous month",
        TEXT_NEXT_YEAR: "Next year",
        TEXT_NEXT_MONTH: "Next month",
        TEXT_CLOSE: "Close",
        TEXT_CHOOSE_DATE: "Choose date",
        January: "January",
        February: "February",
        March: "March",
        April: "April",
        May: "May",
        June: "June",
        July: "July",
        August: "August",
        September: "September",
        October: "October",
        November: "November",
        December: "December",
        Monday: "Monday",
        Tuesday: "Tuesday",
        Wednesday: "Wednesday",
        Thursday: "Thursday",
        Friday: "Friday",
        Saturday: "Saturday",
        Sunday: "Sunday",
        dateClear: "Clear dates",
        errorInvalidDate: "Please make sure you have valid dates selected",
        mailSignup: "Sign me up",
        mailSending: "Sending",
        mailSuccess: "Thanks, please check your email for a confirmation",
        errorUnavail: "Please remove unavailable items before completing your purchase",
        errorNoPhone: "Please enter a phone number",
        errorPhoneMin: "Must contain at least 7 digits",
        errorPhoneMax: "Must contain a maximum of 20 digits",
        errorEmailMatch: "This email does not match",
        modalClose: "Close window",
        modalTerms: "Terms and Conditions",
        modalAgreement: "Agreement",
        cartProcess: "Processing, please wait",
        cartWait: "Please wait",
        cartRecheck: "Rechecking availability, please wait",
        cartExpired: "Please wait. We now need to recheck the availability of some of your items which have expired",
        errorPay: "There has been a problem processing your payment",
        errorCCard: "Please check your card details are correct",
        errorAvailExpire: "Payment not taken. We now need to recheck the availability of some of your items which have expired",
        promoRemove: "Promotional code removed",
        promoApply: "code has been applied",
        validReq: "This field is required",
        validPhone: "Must be a valid phone number",
        validEmail: "Must be a valid email address",
        validEmailConf: "Email address must match",
        validCCard: "Please enter a valid credit card number"
    }

    /* Removing rate symbols
    var rateSymbols = [{
            USD: "&#36;",
            EUR: "&#128;",
            GBP: "&#163;",
            AUD: "A$",
            BRL: "R&#36;",
            CAD: "Can&#36;",
            CHF: "CHF",
            CNY: "&#165; ",
            HKD: "HK&#36;",
            INR: "&#8377; ",
            JPY: "&#165;",
            MXN: "Mex&#36;",
            NZD: "NZ&#36;",
            NOK: "kr ",
            ISK: "kr ",
            ZAR: "R "   
    }];*/
    var exchange_rate = 1
    var currency = 'EUR'

    /* =================================================================== */
    /* == Global Site functions ========================================== */
    /* =================================================================== */

      globalVars = {
        getThemePath : function(){return '/application/themes/site_theme'},
        getSiteUrl : function(){
        return 'https://santaparkarcticworld.com/'
          /*
          if('https://santaparkarcticworld.com/'[ 'https://santaparkarcticworld.com/'.length - 1 ] == '/') {
            return 'https://santaparkarcticworld.com/'.slice(0, -1);
          } else {
            return 'https://santaparkarcticworld.com/'          }*/

        },
        uptoXLarge : function() {
            return ($(window).width() <= 1499)
        },
        overXLarge : function() {
            return ($(window).width() >= 1500)
        },
        uptoLarge : function()  {
            return ($(window).width() <= 1199)
        },
        overLarge : function()  {
            return ($(window).width() >= 1200)
        },
        uptoMedium : function() {
            return ($(window).width() <= 991)
        },
        overMedium : function() {
            return ($(window).width() >= 992)
        },
        uptoSmall : function()  {
            return ($(window).width() <= 767)
        },
        overSmall : function()  {
            return ($(window).width() >= 768)
        },
        uptoXSmall : function() {
            return ($(window).width() <= 479)
        },
        overXSmall : function() {
            return ($(window).width() >= 480)
        },
        scrollToTop : function() {
          $("html, body").animate({ scrollTop: 0 }, 400);
        }
      };


    </script>
    <script>

    window.tour_details = {
        channel_id: 11756,
        documents: [],
        from_price: "179.00",
        maxBookingSize: 20,
        maxDuration: null,
        minBookingSize: 1,
        minDuration: null,
        new_booking: {
            people_selection: {
                rate: [{
                    agecat: "a",
                    agerange_max: "",
                    agerange_min: "12",
                    from_price: "179.00",
                    from_price_display: "&#8364;179",
                    label_1: "# Adults",
                    label_2: "Age > 12 years old",
                    maximum: 20,
                    minimum: 1,
                    rate_id: "r1",
                }, {
                    agecat: "c",
                    agerange_max: "12",
                    agerange_min: "2",
                    from_price: "139.00",
                    from_price_display: "&#8364;139",
                    label_1: "# Children (Age 2-12)",
                    label_2: "Age 2-12 years old",
                    maximum: 20,
                    minimum: 1,
                    rate_id: "r2",
                }, {
                    agecat: "i",
                    agerange_max: "2",
                    agerange_min: "0",
                    from_price: "0.00",
                    from_price_display: "&#8364;0",
                    label_1: "# Infants (Age 0-2)",
                    label_2: "Age 0-2",
                    maximum: 20,
                    minimum: 1,
                    rate_id: "r3",
                }]
            }
        },
        product_type: 4,
        thumb: "https://792327e631d328999a2c-23ff390096145d62077159b787d9fbd9.ssl.cf1.rackcdn.com/8/1/thumbnail.jpg",
        totalPeople: 0,
        tour_id: 8,
        tour_name: "Dream of Joulukka - Weekly Departure",
        tour_url: "http://santaparkarcticworld.com/tour/dream-of-joulukka-weekly-departure_8",
        transfer_direction: -1
    }
    </script>
    <script sync src='__HOME__/js/calendar.js'></script>
</div>
{/block}