<!doctype html>
<!--[if IE]> <html lang="LANGUAGE" class="no-js all-ie"> <![endif]-->
<!--[if lt IE 7]> <html lang="LANGUAGE" class="no-js lt-ie7"> <![endif]-->
<!--[if lt IE 8]> <html lang="LANGUAGE" class="no-js lt-ie8"> <![endif]-->
<!--[if lt IE 9]> <html lang="LANGUAGE" class="no-js lt-ie9"> <![endif]-->
<!--[if lt IE 10]> <html lang="LANGUAGE" class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 10]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>
	{include file="Public/head"}
</head>

<body class="page_  ccm-page page-type-homepage page-template-homepage ">
    <div class="off-canvas-wrapper">
        <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper >
            <!-- Off Canvas Menu -->
            <div class="off-canvas position-right" id="offCanvas" data-off-canvas data-position="right" style="display: none">
                <aside id="offcanvas" class="right-off-canvas-menu">
                    <span class="hamburger open">
              <span class="top"></span><span class="middle"></span><span class="bottom"></span>
                    </span>
                    <div class="top-wrapper">
                        <ul class="top-links">
                            <li class="cart"><a href="#"><i class="icon-shopping-trolley"></i></a></li>
                        </ul>
                        <img class="logo " src="__HOME__/picture__/santa-park-arctic-world-logo.png" srcset="/application/themes/site_theme/images/santa-park-arctic-world-logox2.png 2x" data-mobile-image="/application/themes/site_theme/images/santa-park-arctic-world-logo-mobile.png">
                    </div>
                    <ul class="nav">
                        <li class="nav-first nav-selected">
                            <a href="https://santaparkarcticworld.com/">
                                        Home                </a>
                        </li>
                        <li class="">
                            <a href="https://santaparkarcticworld.com/santapark">
                                        SantaPark                </a>
                        </li>
                        <li class="">
                            <a href="https://santaparkarcticworld.com/arctic-treehouse-hotel">
                                        Arctic Treehouse Hotel                </a>
                        </li>
                        <li class="">
                            <a href="https://santaparkarcticworld.com/arctic-forest-spa">
                                        Arctic Forest Spa                </a>
                        </li>
                        <li class="">
                            <a href="https://santaparkarcticworld.com/santa-claus-secret-forest">
                                        Santa Claus Secret Forest                </a>
                        </li>
                        <li class="">
                            <a href="https://santaparkarcticworld.com/rakas">
                                        Rakas Restaurant                </a>
                        </li>
                    </ul>
                    <hr/>
                    <ul class="nav">
                        <li class="nav-first">
                            <a href="https://santaparkarcticworld.com/who-we-are">
                                        Who We Are                </a>
                        </li>
                        <li class="">
                            <a href="https://santaparkarcticworld.com/contact">
                                        Contact Us                </a>
                        </li>
                        <li class="">
                            <a href="https://santaparkarcticworld.com/terms-of-service">
                                        Terms &amp; Conditions                </a>
                        </li>
                        <li class="">
                            <a href="https://santaparkarcticworld.com/privacy-policy">
                                        Privacy Policy                </a>
                        </li>
                        <li class="">
                            <a href="https://santaparkarcticworld.com/sitemap">
                                        Sitemap                </a>
                        </li>
                    </ul>
                    <div class="tripeasi-social-links">
                        <ul class="social-links">
                            <li><a target='_blank' href=http://www.facebook.com/SantaParkLapland/><span><i class='icon-facebook-circle'></i></span></a>
                            </li>
                            <li><a target='_blank' href=https://twitter.com/SantaparkCave><span><i class='icon-twitter-circle'></i></span></a></li>
                            <li><a target='_blank' href=http://www.youtube.com/channel/UCHiRtS_4fKUkPTMT_NWaseQ><span><i class='icon-youtube-with-circle'></i></span></a></li>
                            <li>
                                <a target='_blank' href="https://www.tripadvisor.co.uk/Attraction_Review-g189922-d202600-Reviews-SantaPark-Rovaniemi_Lapland.html"><span><i class="icon-trip-advisor-circle"></i></span></a>
                            </li>
                        </ul>
                    </div>
                    <p class="phone-number">Tel: 0600 301 203</p>
                </aside>
            </div>
            <!-- Site Page Content -->
            <div class="ccm-page page-type-homepage page-template-homepage">
                <div class="off-canvas-content" data-off-canvas-content>
					<!--头部开始-->
					{include file="Public/header"}
					<!--头部开始-->
                    
                    <section id="hero" class="hero-small backstretch-block">
                        <div class="backstretch-image" data-image="" data-image-mobile="https://santaparkarcticworld.com/application/files/cache/90453cafadb57424ae13aaa675030f1f.jpg"></div>
                        <div class="mobile-backstretch-element"></div>
                        <div class="row">
                            <div class="columns small-12 medium-12 large-12 content-wrapper">
                                <div class="content">
                                    <h1>{$recommend ? $recommend.title : "SantaPark Arctic World"}</h1> </div>
                            </div>
                        </div>
                        <div class="tagline">{$recommend ? $recommend.desc : "Brought to you by Santapark Arctic World"}</div>
                        <div class="backstretch" style="left: 0px; top: 0px; overflow: hidden; margin: 0px; padding: 0px; height: 530px; width: 1899px; z-index: -999998; position: absolute;">
                            <div class="backstretch-item" style="position: absolute; margin: 0px; padding: 0px; border: none; width: 100%; height: 100%; z-index: -999999;">
                                <img alt="" src="{$recommend ? $recommend.img : "__HOME__/images/slide-1.jpg"}" style="position: absolute; margin: 0px; padding: 0px; border: none; width: 1899px; height: 1186.88px; max-width: none; left: 0px; top: -328.438px; right: auto; bottom: auto;">
                            </div>
                        </div>
                    </section>

                    {block name='primary'}
                    

                    {/block}


					<!--主体开始-->
					{block name="body"}
                    
                    {/block}
					<!--主体开始-->
                    
                    <!--底部开始-->
					{include file="Public/footer"}
                    <!--底部借宿-->
                </div>
                <!-- page wrapper class -->
            </div>
            <!-- off canvas wrapper inner -->
        </div>
        <!-- off canvas wrapper -->
        <!-- javascript assets registered in page_theme.php -->
    </div>
</body>

</html>
